# Module 9 - Strings and Text

Import and Read Data

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'C:\Users\mwbarr\Python for Data Analysis\Data Files\isistweetsenhanced.csv')
df.head()

,Unnamed: 0,name,username,description,location,followers,numberstatuses,time,tweets,Hashtag 0,Hashtag 1,Hashtag 2,Hashtag 3,Hashtag 4,Hashtag 5,Hashtag 6
0,0,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:07,ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:27,ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:29,ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:37,ENGLISH TRANSLATION: SHEIKH NASIR AL WUHAYSHI ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATIONS: http://t.co/QLdJ0ftews,NaN,640,49,1/6/2015 21:45,ENGLISH TRANSLATION: AQAP: 'RESPONSE TO SHEIKH...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Basic String functions

Upper and lower

Contains

Replace

String Addition

Splitting

Regex (Description, Testers, pre-made patterns, then below examples)

Contains - Now with more regex

In [54]:
df[df['username'].str.contains('\d')]['username'].drop_duplicates().head()

0      GunsandCoffee70
31     YazeedDhardaa25
230         WhiteCat_7
332       warreporter2
372      abuhanzalah10
Name: username, dtype: object

In [29]:
df[df['username'].str.contains('a\d')]['username'].drop_duplicates()

31       YazeedDhardaa25
417        Bajwa47online
751            CXaafada2
1386         abuhumayra4
5335         ks48a174031
8414        abuayisha102
10229       abuayisha108
Name: username, dtype: object

In [30]:
df[df['username'].str.lower().str.contains('a\d{2}')]['username'].drop_duplicates()

31       YazeedDhardaa25
417        Bajwa47online
5335         ks48a174031
8414        abuayisha102
10229       abuayisha108
Name: username, dtype: object

In [35]:
df[df['username'].str.lower().str.contains('[a-z]\d[a-z]')]['username'].drop_duplicates()

8223     c0n0fj1had4_
15316         st3erer
Name: username, dtype: object

Extract

In [44]:
df['tweets'].str.extract('@(\w*)\s').value_counts().head()

C:\Users\mwbarr\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

WarReporter1     136
Uncle_SamCoco     47
RamiAlLolah       41
kasimf            37
Kronykal          31
Name: tweets, dtype: int64

In [57]:
df['tweets'].str.extract('(http://\S*)',).head()

C:\Users\mwbarr\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

0    http://t.co/73xFszsjvr
1    http://t.co/uqqzXGgVTz
2    http://t.co/TgXT1GdGw7
3    http://t.co/3qg5dKlIwr
4    http://t.co/2EYm9EymTe
Name: tweets, dtype: object

Extract All

In [46]:
df['tweets'].str.extractall('@(\w*)\s')

                           0
      match
8     0       KhalidMaghrebi
      1      seifulmaslul123
10    0       KhalidMaghrebi
      1      seifulmaslul123
      2      CheerLeadUnited
14    0            IbnNabih1
      1             MuwMedia
      2        Dawlat_islam7
15    0            IbnNabih1
      1      KhalidMaghrebi_
      2             MuwMedia
16    0            IbnNabih1
      1      KhalidMaghrebi_
      2             MuwMedia
      3       Polder_Mujahid
17    0            IbnNabih1
      1         abuw_ukasyah
      2      polder_mujaahid
      3         AbuIzzadeen2
      4             MuwMedia
18    0      AbdirahmanBash2
      1      KhalidMaghrebi_
      2            IbnNabih1
      3       Polder_Mujahid
19    0      AbdirahmanBash2
      1      KhalidMaghrebi_
      2            IbnNabih1
      3       Polder_Mujahid
20    0      AbdirahmanBash2
      1      KhalidMaghrebi_
...                      ...
17296 0       Charles_Lister
17297 0         _The_Hikmah_
17299 0       _SalmanHashimi
      1       PeigneACheveux
17300 0              adamks_
17301 0       PeigneACheveux
      1       _SalmanHashimi
17302 0       PeigneACheveux
17303 0       PeigneACheveux
17304 0       PeigneACheveux
17306 0        SinaiViaDamas
      1       PeigneACheveux
17320 0            04_8_1437
      1            04_8_1437
17321 0            xxxzzz333
17322 0         uhhgyfergbnj
17323 0          _Phosphenia
17324 0           Belkadette
17325 0          _Phosphenia
17326 0      BAQIAFAMILY_299
      1      BAQIAFAMILY_299
17363 0      muktarbelmuktar
      1          wwayyf44rer
17387 0             MehdiTh2
      1            _Darmouss
      2       PeigneACheveux
17389 0            _Darmouss
17391 0        HadjSarrasins
17404 0        RomainCaillet
      1        _DavidThomson

[6085 rows x 1 columns]

Resetting index on extract all results

In [53]:
df['tweets'].str.extractall('@(\w*)\s').reset_index()

      level_0  match                0
0           8      0   KhalidMaghrebi
1           8      1  seifulmaslul123
2          10      0   KhalidMaghrebi
3          10      1  seifulmaslul123
4          10      2  CheerLeadUnited
5          14      0        IbnNabih1
6          14      1         MuwMedia
7          14      2    Dawlat_islam7
8          15      0        IbnNabih1
9          15      1  KhalidMaghrebi_
10         15      2         MuwMedia
11         16      0        IbnNabih1
12         16      1  KhalidMaghrebi_
13         16      2         MuwMedia
14         16      3   Polder_Mujahid
15         17      0        IbnNabih1
16         17      1     abuw_ukasyah
17         17      2  polder_mujaahid
18         17      3     AbuIzzadeen2
19         17      4         MuwMedia
20         18      0  AbdirahmanBash2
21         18      1  KhalidMaghrebi_
22         18      2        IbnNabih1
23         18      3   Polder_Mujahid
24         19      0  AbdirahmanBash2
25         19      1  KhalidMaghrebi_
26         19      2        IbnNabih1
27         19      3   Polder_Mujahid
28         20      0  AbdirahmanBash2
29         20      1  KhalidMaghrebi_
...       ...    ...              ...
6055    17296      0   Charles_Lister
6056    17297      0     _The_Hikmah_
6057    17299      0   _SalmanHashimi
6058    17299      1   PeigneACheveux
6059    17300      0          adamks_
6060    17301      0   PeigneACheveux
6061    17301      1   _SalmanHashimi
6062    17302      0   PeigneACheveux
6063    17303      0   PeigneACheveux
6064    17304      0   PeigneACheveux
6065    17306      0    SinaiViaDamas
6066    17306      1   PeigneACheveux
6067    17320      0        04_8_1437
6068    17320      1        04_8_1437
6069    17321      0        xxxzzz333
6070    17322      0     uhhgyfergbnj
6071    17323      0      _Phosphenia
6072    17324      0       Belkadette
6073    17325      0      _Phosphenia
6074    17326      0  BAQIAFAMILY_299
6075    17326      1  BAQIAFAMILY_299
6076    17363      0  muktarbelmuktar
6077    17363      1      wwayyf44rer
6078    17387      0         MehdiTh2
6079    17387      1        _Darmouss
6080    17387      2   PeigneACheveux
6081    17389      0        _Darmouss
6082    17391      0    HadjSarrasins
6083    17404      0    RomainCaillet
6084    17404      1    _DavidThomson

[6085 rows x 3 columns]